* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Arial', sans-serif;
	background-color: #F7E2E7;
	color: #3EAA47;
	line-height: 1.6;
}

header{
	background-color: #c97e71;
	color: white;
	text-align: center;
	padding: 40px 0;
}

#intro{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color:#cef024 ;
}

.circle-text{
	background-color: white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #c97e71;
	font-weight: bold;
	opacity: 0;
	animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
		transform: scale(0.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);	
	}
}

header h1{
	font-size: 48px;
	margin: 10px;
}

header p {
	font-size: 20px;
}

#about {
	padding: 60px 20px;
	background-color: #f2b8c6;
	text-align: center;
}

#about h2{
	font-size: 36px;
	margin-bottom: 20px;
}

#about p{
	font-size: 18px;
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.6;
}

#about img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-top: 20px;
	border:3px solid #f2b8c6;
}

#skills{
	padding: 60px 20px;
	background-color: #cef024;
	text-align: center;
}

#skills h2{
	font-size: 36px;
	margin-bottom: 20px;
}

#skills p {
    font-size: 18px;
    line-height: 1.6;
}

#projects {
    padding: 60px 20px;
    background-color: #B19B8D; 
    text-align: center;
}

#projects h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#projects p {
    font-size: 18px;
    line-height: 1.6;
}


#education {
    padding: 60px 20px;
    background-color: #F7E2E7; 
    text-align: center;
}

#education h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#education p {
    font-size: 18px;
    line-height: 1.6;
}


footer{
	text-align: center;
	padding: 20px 0;
	background-color: #f2b8c6;
	color: white;
}

footer a{
	color: white;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}


